.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 1em;
}

.progress,
.progress::-moz-progress-bar,
.progress::-webkit-progress-bar {
  min-width: var(--max-width);
  width: 100%;
  height: 20px;
  background-color: var(--casOrange);
  margin-bottom: 1em;
}

.list {
  padding: 0 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}

.listItem > a {
  transition: all 0.3s;
}

.listItem > a:hover {
  color: var(--casOrange);
}

.active {
  color: var(--casOrange);
  font-weight: bold;
}

.chevron {
  display: inline-block;
  margin-right: 0.7rem;
  position: relative;
  top: 0.4rem;
}

.chevron::before {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  position: relative;
  top: 0.3em;
  width: 0.45em;
  transition: transform 0.2s ease-out;
}

.right {
  top: -5px;
  left: 5px;
  transform: rotate(45deg);
}

.left {
  left: 0.25em;
  transform: rotate(-135deg);
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

/* https://stackoverflow.com/questions/71131353/how-put-scroll-to-top-when-scroller-is-inside-div-in-react */

@media (max-width: 600px) {
  .wrapper {
    max-width: 600px;
    padding: 0em 1em;
  }
  .list {
    position: relative;
    max-width: 100%;
    width: 1000px;
    overflow-x: scroll;
    padding: 0;
    gap: 1em;
  }
  .listItem {
    min-width: 95px;
    max-width: 95px;
    gap: 1em;
  }
  .progress,
  .progress::-moz-progress-bar {
    max-width: 600px;
  }
}
