.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
}

.written {
  display: flex;
  gap: 0.5em;
}

.button {
  height: 50px;
  padding: 0.5em;
  text-align: center;
}
